@font-face {
  font-family: "Prototype";
  src: local("Prototype"), url("./font/Prototype/Prototype.ttf");
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-32 {
  margin-bottom: 32px;
}

/* animation */

.mover-1 {
  overflow: auto;
  position: absolute;
  left: 0%;
  top: 0%;
}

.primary {
  animation: primary 8s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -135%;
  }
}

.reveal {
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .primary {
    animation: primary 8s linear infinite;
  }

  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -620%;
    }
  }
}
